.postContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 8px 8px;
  border: 1px solid #fff;
}

.header {
  display: flex;
  flex-direction: row;
}

.header img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likes span {
  text-align: center;
}